@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-bg-color: #0f0e10;
  --sub-bg-color: #9e68dd;
  --main-text-color: #091837;
  --sub-text-color: #999999;
  --icons-color: #1bb436;
  --btn-main-color: #13aa52;
  --btn-sub-color: #134e38;
}
.html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-bg-color);
  font-family: "Poppins", sans-serif;
}
.header-container {
  grid-area: header;
}
/* .item2 {
  grid-area: menu;
} */
.item3 {
  grid-area: main;
  margin-top: 5rem;
  margin-left: 10rem;
}
.item4 {
  grid-area: right;
  margin-top: 5rem;
}
.item5 {
  grid-area: footer;
  border: 1px solid var(--sub-text-color);
  box-shadow: 2px 2px 5px #9e68dd, -2px -2px 5px #9e68dd;
  border-radius: 10px;
  margin: auto;
  width: 60%;
  padding: 20px;
}
.item5 h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.item5 p {
  color: var(--sub-text-color);
  font-size: 1.2rem;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    " main main main right right right"
    "footer footer footer footer footer footer";
  grid-gap: 10px;
  /* background-color: var(--sub-bg-color); */
  padding: 10px;
}

.grid-container > div {
  background-color: var(--main-bg-color);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: var(--sub-text-color);
}
h2 {
  color: var(--sub-text-color);
  text-align: center;
}
h3 {
  text-align: left;
  font-weight: 500;
  background: -webkit-linear-gradient(#9e68dd, #6bdab0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item3 p {
  background: -webkit-linear-gradient(#9e68dd, #6bdab0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 5rem;
}
.item3 h3 span {
  font-size: 1.7rem;
}
.item3 h6 {
  text-align: left;
}
.item3 pre {
  text-align: left;
  font-size: 1.2rem;
}
.item4 img {
  width: 400px;
  height: 300px;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}
.btn-mode {
  order: 3;
}
.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: var(--sub-text-color);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #6bdab0;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2rem;
  /* margin-bottom: 0.5rem; */
}
/* ......../ media query /.......... */

@media (max-width: 768px) {
  .btn-mode {
    display: none;
  }
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}
.btn-mode > label {
  width: 82px;
  height: 40px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0, 0.4) inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.btn-mode > label:after {
  content: " ";
  width: 32px;
  height: 32px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: linear-gradient(180deg, #b777ff, #9e68dd);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-mode > input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.btn-mode > input:checked + label {
  background-color: #242424;
}
.btn-mode > input:checked + label:after {
  left: 80px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.btn-mode label,
label:after {
  transition: 0.3s;
}
.btn-mode label:active:after {
  width: 70px;
}
.background {
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: -1;
  position: absolute;
  transition: 0.3s;
}
input:checked + label + .background {
  background: #242424;
}
.btn-intro {
  width: 0px;
  /* margin-top:5rem; */
}
.btn-intro button {
  font-size: 1rem;
  font-weight: 700;
}
button {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #e594e5 0%, #9e68dd 50%, #6bdab0 100%);
  background: linear-gradient(to right, #9e68dd 0%, #9e68dd 50%, #6bdab0 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  /* font: 2rem; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* height: 5rem; */
  /* letter-spacing: 0.05em; */
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* width: 20rem; */
}

button:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
.btn-intro button {
  height: 50px;
  width: 10rem;
  text-align: center;
}
@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li {
    font-size: 1.6rem;
  }
  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .btn-mode {
    display: none;
  }
}
